# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.UnrealTools.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Visual Studio Code
.vscode/*
.vs/*

# Unreal Project files
/Binaries/
/Intermediate/
/Saved/
